.libraryInfo {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  align-self: center;
  border: 1px solid #e0e0e0;

  box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.1),
  2px 4px 6px rgba(0, 0, 0, 0.1),
  1px 1px 12px rgba(0, 0, 0, 0.1);
}

.icon{
  width:3rem;
  height:3rem;
}

#radioContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  border-radius: 4px;


  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: auto;
  }

  label {
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;

    &:hover {
      background: rgba(74, 103, 65, 0.1);
    }
  }

  input[type="radio"] {
    display: none;

    &:checked + label {
      background: #115740;
      .title {
        color: white;
      }
    }
  }
}

.radioButton {
  display: none;

  // Handle the collapse/expand state
  &:not(:checked) + .card {
    .cardContent {
      height: 0;
      opacity: 0;
      padding: 0;
      margin: 0;
      overflow: hidden;
    }
  }
  

  &:checked + .card {
    .cardContent {
      height: auto;
      opacity: 1;
      transition: all 0.3s ease-in-out;
      padding: 10px;
    }

    
    background-color: #115740;
    color: white;
    font-weight: bolder;
  }
}

.title {
  cursor: pointer;
}

.cardContainer {
  margin-bottom: .1rem;
}

.card {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background: white;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  margin: 5px;
  
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.cardHeader {
  display: block;
  cursor: pointer;

  .title {
    margin-left: 10px;
  }
}

.cardContent {
  transition: all 0.3s ease-in-out;
  height: 0;
  opacity: 0;
  overflow: hidden;
  
  p {
    margin: 5px 0;
  }
}

.cardDetails {
  padding: .1rem;
  
  .locationInfo, .hoursInfo {
    margin-bottom: 0.5rem;
  }
}

#infoContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  padding: 8px;
}

.locationLink {
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 4px;
    
    &:hover {
        text-decoration: underline;
    }
    
    &:active {
        color: whitesmoke;
    }
}

.label {
    visibility: visible;
}